<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="owinStatic" type="Ormikon.Owin.Static.Config.Section, Ormikon.Owin.Static.Config"/>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <owinStatic>
        <maps>
            <map sources="..\..\Content" cached="true" maxAge="20sec"/>
        </maps>
    </owinStatic>
</configuration>
